.toe {
         font-size: 3.7rem;
         font-weight: bold;
         text-align: center;
         text-shadow: 4rem;
         margin-top:  2rem;
         font-style: inherit;
}

.travel {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2rem;
    margin-top: 1rem;
    font-style: inherit;
}

.travel-text {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    font-style: inherit;
}